@tailwind base;
@tailwind components;
@tailwind utilities;

body.app
{
    @apply min-h-screen w-screen flex flex-col items-center justify-center overflow-x-hidden;
}

body.transition *
{
    @apply transition-all;
}

body.loading *:not(.loading-screen)
{
    display: none;
}

/*#region Blueprint & grid*/

.blueprint div
{
    @apply border-1 border-bp-200;
}

.min-h-screen.grid > background > grid
{
    @apply min-h-full;
}

body > knot-grid
{
    @apply w-screen min-h-screen;
}

body > knot-grid > *
{
    @apply h-auto overflow-hidden;
}

body > knot-grid > background > grid
{
    @apply w-screen min-h-screen h-auto;
}

knot-grid
{
    @apply w-full grid h-full relative;
}

background
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @apply bg-transparent;
}

background *
{
    @apply bg-transparent;
}

background > grid
{
    @apply grid w-full h-full;
}

background > grid > *
{
    @apply border-1 border-bp-200 col-span-1 row-span-1;
}

background > grid *
{
    @apply text-transparent bg-transparent;
}
/*#endregion */

/*#region General purpose*/

.flex-center
{
    @apply flex flex-col items-center justify-center;
}

.flex-c-col
{
    @apply flex flex-col items-center
}

.flex-c-left
{
    @apply flex flex-col items-start justify-center;
}

.size-square
{
    @apply w-full aspect-square;
}

/*#endregion*/

/*#region Application Elements*/

.menu-item
{
    @apply flex flex-col items-center justify-center cursor-pointer;
}

.menu-item.selected
{
    position: relative;
    @apply border-r-4 border-slate-700;
}

/*#endregion*/

/*#region Preview*/

body.preview button
{
    @apply p-2 px-5 m-3 bg-cyan-500 text-white rounded-lg;
}

body.preview input
{
    @apply border-1 p-2 px-3 m-3;
}

/*#endregion*/