<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ⚠ KNOT STUFF [will bite] ⚠ -->

    <link rel="stylesheet" href="tailwind.css">
    <link rel="stylesheet" href="knot/css/knot.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> <!-- tmp (sorry) -->   
    <script type="module" src="knot/js/modules/knot.js"></script>
    
    <!-- ⚠ end of knot stuff ⚠ -->

    <script type="module" src="js/index.js"></script>
</head>
<body class="app transition bg-slate-900 text-white">
    <!-- main grid -->
    <knot-grid rows="50px 1-1" cols="50px 1-1 50px">
        <!-- logo -->
        <div class="flex-center">logo</div> 
        <!-- sidebar -->
        <div class="row-start-2 row-end-3">
        </div>
        <!-- content -->
        <div class="row-start-2 col-start-2 flex-center">
            <!-- title -->
            <div class="flex-center mb-20 text-5xl">Test Application</div>
            <div class="bg-slate-800 w-full md:w-2/3  p-5 rounded-md flex-center">
                <div class="bg-slate-700 w-full h-48 mb-5 rounded-md">
                </div>
                <div class="bg-slate-700 w-full h-48 m-5 rounded-md">
                </div>
                <div class="bg-slate-700 w-full h-48 m-5 rounded-md">
                </div>
                <div class="bg-slate-700 w-full h-48 m-5 rounded-md">
                </div>
                <div class="bg-slate-700 w-full h-48 mt-5 rounded-md">
                </div>
            </div>
        </div>
    </knot-grid>
</body>
</html>