<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ⚠ KNOT STUFF [will bite] ⚠ -->

    <link rel="stylesheet" href="tailwind.css">
    <link rel="stylesheet" href="knot/css/knot.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> <!-- tmp (sorry) -->   
    <script type="module" src="knot/js/modules/knot.js"></script>
    
    <!-- ⚠ end of knot stuff ⚠ -->

    <script src="js/index.js"></script>
</head>
<body class="app preview transition">
    <!-- main grid -->
    <knot-grid rows="50px 1-1" cols="50px 1-1 50px">
        <!-- logo -->
        <div class="flex-center">logo</div> 
        <!-- sidebar -->
        <div class="row-start-2 row-end-3">
        </div>
        <!-- content -->
        <div class="row-start-2 col-start-2 flex-c-col">
            <!-- title -->
            <div k-var="idk" class="flex-center mb-20 text-5xl font-extralight">Title</div>
            <div class="w-full md:w-2/3 p-10">
                <div class="mb-5">
                    <h1 k-var="idk" class="text-3xl m-0 p-0">Menacing title</h1>
                    <span class="text-xs">slightly less menacing title</span>
                </div>
                <div k-var="idk" class="p-10 shadow-md m-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id provident fuga. Magni itaque sunt sint eos provident non vero minus excepturi, nemo fuga minima ducimus, voluptate blanditiis nostrum corrupti.
                </div>
                <div k-var="idk" class="p-10 shadow-md m-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id provident fuga. Magni itaque sunt sint eos provident non vero minus excepturi, nemo fuga minima ducimus, voluptate blanditiis nostrum corrupti.
                </div>
                <div k-var="idk" class="p-10 shadow-md m-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt id provident fuga. Magni itaque sunt sint eos provident non vero minus excepturi, nemo fuga minima ducimus, voluptate blanditiis nostrum corrupti.
                </div>
                <input type="text" k-var="name">
                <button k-click="idk[name1] = name">Send</button>
                <input type="text" k-var="name1">
                <button k-click="">Send</button>
                <input type="text" k-var="name2">
                <button k-click="idk3 = name2">Send</button>
            </div>
        </div>
    </knot-grid>
</body>
</html>