<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ⚠ KNOT STUFF [will bite] ⚠ -->

    <link rel="stylesheet" href="tailwind.css">
    <link rel="stylesheet" href="knot/css/knot.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> <!-- tmp (sorry) -->   
    <script type="module" src="knot/js/modules/knot.js"></script>
    
    <!-- ⚠ end of knot stuff ⚠ -->

    <script type="module" src="js/index.js"></script>
</head>
<body class="app blueprint">
    <knot-grid rows="50px 1-1" cols="50px 1-1 50px">
        <div class="flex-center">logo</div>
        <div class="flex-center">title</div>
        <div class="row-start-2 row-end-3"></div>
        <div class="row-start-2 col-start-2">
            <knot-grid rows="1-1" cols="3-1">
                <div class="col-start-2 col-span-2">
                    <knot-grid rows="5-1" cols="1-1"></knot-grid>
                </div>
            </knot-grid>
        </div>
    </knot-grid>
</body>
</html>